import { createGlobalStyle } from 'styled-components';
import { typographyToken } from '../tokens';

export const GlobalStyle = createGlobalStyle`
                           *,
                           ::before,
                           ::after {
                             box-sizing: border-box;
                             padding: 0;
                             margin: 0;
                           }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
storybook
==================================
 */
.docblock-argstable-body {
  input[type='radio'] {
    appearance: auto;
  }
}

/**
===================================
 */

* {
  font-family: ${typographyToken.fontFamily};
  scrollbar-width: thin;
  scrollbar-color: #EFEDF2 transparent;

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    width: 8px;
    height: 100%;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    width: 8px;
  }

}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, span, pre, p {
  padding: 0;
  margin: 0;
  /* custom text style */
  white-space: pre-line;
  word-wrap: break-word;
  word-break: keep-all;
  /* user select none  */
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported in most modern browsers except for IE */
}

/* table reset */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* table cell reset */
th, td {
  margin: 0;
  padding: 0;
}

/* button reset */
button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

/* input reset */
input {
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}


/* list reset */
ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
`;
